:root {
  --text-main-color: #212121; /*основной цвет текста*/
  --light-main-color: #ffffff; /*белый цвет текста*/
  --description-color: #757575; /*цвет описания списков */
  --accent-color: #2196f3; /*цвет и акцентов */
  --main-bg: #fff; /*цвет основного бєкгроунда */
  --light-gray: #f5f4fa; /*цвет кнопок и рамок*/
  --logo: #000000;
  --icons: #afb1b8; /*цвет иконок*/
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: var(--main-bg);
  font-weight: 400;
  /* ширина макета */
  max-width: 1600px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
} /* оформление списка Убираем маркеры у li*/


.logo {
  font-family: "Raleway"; /* задаём шрифт и размер ЛОГО */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo);
}

/* 28. Для лого в футері потрібно задати нижній марджин */

.logo.footer {
  display: block;
  margin-bottom: 20px;
}

.logo-accent {
  /*  цвет левой части ЛОГО */
  color: var(--accent-color);
}

.logo-white {
  /*  цвет правой части ЛОГО в подвале */
  color: var(--light-main-color);
}

/* цвет и стиль ссылок*/
.links,
.logo {
  text-decoration: none;
}

/* стиль ссылкок шапка */
.header__links,
.header__contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* цвет ссылок контактов шапка*/
.header__contacts {
  color: var(--description-color);
  /* выравнивание иконок по вертикали */
  display: flex;
  align-items: center;
}

/* цвет ховера и текущ. ссылки*/
.header__links:hover,
.header__links--current {
  /* text-decoration: none; */
  position: relative;
  color: var(--accent-color);
}

.header__links:focus {
  color: green;
}

.header__links:active {
  color: red;
}

/* цвет ховера и текущ. ссылки
.links:hover,
.current {
  text-decoration: none;
  position: relative;
  color: var(--accent-color);
}*/

.current::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.links:focus {
  color: green;
}

.links:active {
  color: red;
}

/*  стиль ссылок в подвале */
.foot-links,
.street-links {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  цвет адреса в подвале */
.street-links {
  color: var(--light-main-color);
}

/* параметры секции header */
.header {
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
}

.header__nav {
  border: 0px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
}

/* 6. Для .header-menu паддинг замініть на марджин */

.header__menu {
  display: flex;
  /* flex-grow: 0; */
  gap: 50px;
  margin-left: 93px;
}

/* 7. Для списку з поштою і номером телефону приберіть паддниг і задайте лівий марджин авто */

.header__nav-contacts {
  /* border: 1px solid black; */
  display: flex;
  /* align-items: ; */
  /* flex-grow: 0; */
  gap: 50px;
  margin-left: auto;
}


.section {
  padding: 94px 0;
}

.hero {
  background: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url("../images/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  /* параметры шрифта Заголовка h1 */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-main-color);
  width: 696px;
  margin: 0px auto 30px;
  text-align: center;
}

/* 12. Для .btn-hero приберіть ширину, висоту, марджин. 
Задайте паддиги за макетом */

.btn-primary {
  /* оформляем кнопку Замовити */
  /* width: 216px; */
  /* height: 50px; */
  padding: 10px 32px;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-main-color);
  /* курсор мыши при наведении*/
  cursor: pointer;
  margin: 0 auto;
  /* display: block; */
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin: 30px auto 0; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  padding: 10px 52px;
}

.btn-primary:hover {
  /* цвет кнопки при наведении */
  background: #188ce8;
}

.btn-primary:focus {
  /* цвет кнопки при нажатии */
  background: var(--accent-color);
}

.btn-primary:active {
  /* цвет кнопки при нажатии */
  background: #88c4f5;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h2 {
  /* заголовкок в Чим Займаемося и Наша команда */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

/* 21. Для our-team задайте верхній і нижній паддинги */

.team {
  /* фон блока Наша команда */
  background: #f5f4fa;
  /* padding: 94px 0; */
}

/* 23. Для .our-team-list приберіть паддинг */

.team__list {
  /* padding-top: 50px ; */
  display: flex;
  gap: 30px;
  width: 1170px;
  margin: auto;
}

/* 24. Для .our-team-item приберіть паддинг */

.team__item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* padding-bottom: 30px; */
  text-align: center;
}

/* 25. Для .our-team-header нижній паддинг замініть на марджин */

.team__title {
  /* стиль заголовков Наша команда */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  padding-top: 30px;
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
}

.team__text {
  /* имена и профессии команды */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--description-color);
  /* padding-bottom: 16px; */
  margin-bottom: 16px;
}

.team__social-links {
  justify-content: center;
  display: flex;
  gap: 10px;
  /* margin-bottom: 30px; */
  padding-bottom: 30px;
  /* border: 1px solid black; */
}




/*  Портфолио */

.btn-filtr {
  /* цвет кнопок фильтра*/
  font-family: inherit;
  font-style: normal;
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filtr.primary {
  background: var(--light-gray);
}

.btn-filtr.curr,
.btn-filtr:hover,
.btn-filtr:focus {
  color: var(--light-main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* 8. При .btn-filtr:focus мають бути такі ж стилі, як і при ховері */

/* .btn-filtr:focus { 
  border: 1px solid var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}*/

.btn-filtr:active {
  background: #58aef5;
  color: var(--light-main-color);
}

/* 35. Для .our-joblist-style приберіть бордер
але там є border */
/* Для .our-joblist-style приберіть курсор поінтер.  */

.our-joblist-item {
  /* стиль списка Наши работы */
  background: var(--main-bg);
  /* border: 1px solid var(--light-gray); */
  max-width: 370px;
  /*отступ между меэлементами списка*/
  /* cursor: pointer; */
}

.our-joblist-card {
  position: relative;
  overflow: hidden;
}

.our-joblist-descr {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  color: var(--light-main-color);
  background-color: var(--accent-color);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.our-joblist-links:hover .our-joblist-descr {
  transform: translateY(0);
}

/* 37. Для .our-joblist-style h3 задайте нижній марджин */

.our-joblist-item h3 {
  /* стиль заголовков Наша команда */
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-main-color);
}

.our-joblist-par {
  /* имена и профессии команды */
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.our-joblist-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-joblist-links:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}



.features {
  /* border: 0px solid black; */
  /* width: 1170px; */
  /* margin: auto; */
  /* padding: 94px 0; */
}

.feautures__list {
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
}

/* 1. Для .features-icons приберіть паддинги, задайте розміри і позиціонуйте іконку флексами */
.features__icons {
  margin-bottom: 30px;
  /* padding: 25px 100px;   */
  width: 270px;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
  border-radius: 4px;
}

/* 15. Для .features-header задайте нижній марджин,*/

.features__title {
  /* заголовок в особенностях */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-main-color);
  margin-bottom: 10px;
}

/* а для .features-par приберіть верхній. Краще задавати марджини зверху донизу */

.features__text {
  /* оформление списка Особенности  */
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  /* margin-top: 10px; */
}

/* 16. Для .whatwedo-container залиште лише паддинг, а інші стилі приберіть */

.whatwedo {
  /*border: 0px solid black;
  width: 1170px;
  margin: auto;
  text-align: center;*/
  padding-bottom: 94px;
  padding-top: 0;
}


.whatwedo__title {
  /* border: 0px solid black; */
  /* width: 1170px; */
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

/* 19. Для .whatwedo-item приберіть марджин */

.whatwedo__list {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
}

.whatwedo__item {
  position: relative;
}

.whatwedo__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2f303a;
  width: 100%;
  height: 70px;
  color: var(--light-main-color);
  opacity: 0.8;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* портфолио */

.portfolio {
  border: 0px solid black;
  /* margin-top: 94px; */
  /* margin-bottom: 94px; */
}

/* секция фильтры */

/* .filters_container { */
  /* width: 575px; */
  /* margin: auto; */
  /* padding-bottom: 34px; */
/* } */

/* 34. Для .filters_list задайте  */

.portfolio__filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.our-joblist-container {
  max-width: 1170px;
  border: 0px solid black;
  margin: auto;
}

.our-jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* img задан по тегу img */

/*
.jobs-img{
  display: block;
}*/

/* 36. Для .job-title задайте padding: 20px 24px;
а також лівий, правий, нижній бордер за макетом */

.job-title {
  /* padding: 15px 24px 15px 24px; */
  padding: 20px 24px;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

/* соц линки */

/* 5. Для .socnet-container задайте лише лівий марджин */

.footer__section {
  /* width: 1200px; */
  /* margin: auto; */
  /* padding: 60px 30px; */
  padding: 60px 0;
    /* основа цвета ШАПКИ и подвала */
  background: #2f303a;
}

.footer__container {
  display: flex;
}

/* 29. Для .address-style приберіть паддинг і line-height  */

.footer__address {
  /* стиль адреса */
  font-style: inherit;
  /* padding-top: 20px; */
  /* line-height: 1.8; */
}

/* 30. Для кожного li задайте нижній марджин 
і обнуліть у останнього елементу */

.footer__address-string:nth-child(-n + 2) {
  margin-bottom: 9px;
  width: 231px;
} 



.footer__social-block {
  /* margin: 12px 70px; */
  margin-left: 70px;
}

/* 6. .socnet-header зробіть р, це не заголовок */

.footer__social-text {
  /* font-style: normal; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-main-color);
  margin-bottom: 20px;
}

/* Для .socnet-list марджин замініть на паддинг */

.footer__social-list {
  display: flex;
  gap: 10px;
  padding: 0;
}

.footer__icons {
  fill: var(--light-main-color);
}


.footer__subscr-form {
  display: flex;
  gap: 12px;
}

.footer__subscr-input {
  padding: 15px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--light-main-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.socnet-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.team-soclink {
  background: var(--description-color);

}*/

.socnet-link:hover {
  background-color: var(--accent-color);
}

.socnet-link:hover .svg-icons {
  fill: var(--light-main-color);
}

 /* заливаем иконки цветом */
 .svg-icons {
   fill: var(--icons);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 /* заливаем иконки цветом 
.whatwedo__icons,
.header__icons,
.clients__icons {
  fill: var(--icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/* телефон и конверт  */
.header__icons {
  margin-right: 10px;
}

/* ховер телефона и конверта вместе со ссылками */

.links:hover .header__icons {
  fill: var(--accent-color);
}


.clients {
  /* padding: 94px 0; */
}

.clients__list {
  justify-content: center;
  display: flex;
  gap: 30px;
  /* margin-bottom: 30px; */
  /* border: 1px solid black; */
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 4. При .clients-link:hover краще міняйте колір бордеру, а не малюйте його наново */

.clients__link:hover {
  border-color: var(--accent-color);
}

.clients__link:hover .svg-icons {
  fill: var(--accent-color);
  /* fill: currentColor; */
}

/* .clients__link:hover .clients__icons { */
  /* fill: var(--accent-color); */
  /* fill: currentColor; */
/* } */

.backdrop {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--light-main-color);
  padding: 40px;
}

.modal_header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-links {
  color: var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  /* перенёс стили текста из .modal */
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--description-color);
}

.form-layer {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  /* padding: 12px 12px 12px 32px; */
  padding: 10px 12px 10px 32px;
  line-height: 1.13;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: var(--accent-color); */
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-icon {
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  fill: var(--text-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: var(--accent-color);
}

/* чекбокс */

.chbx-layer {
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-bottom: 30px;
}

.chbx-form {
  appearance: none;
}

.chbx-label {
  position: relative;
  padding-left: 27px;
  /* height: 15px; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.chbx-label::before {
  content: "";
  position: absolute;
  /* top: 0px; */
  top: 4px;
  left: 0;
  width: 16px;
  height: 15px;
  border: 1px solid var(--description-color);
  /* background: var(--accent-color); */
  border-radius: 2px;
  z-index: -1;
}

.chbx-icon {
  padding: 2px;
  left: 0px;
  top: 4px;
  /* top: 0px; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  position: absolute;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chbx-form:checked + .chbx-icon {
  fill: var(--light-main-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}
