/* наши особливості */

.features {
    /* padding: 94px 0; перенесено в section */

    &__list {
      display: flex;
      gap: 30px;
    }
    
    &__item {
      width: 270px;
    }
    
    /* 1. Для .features-icons приберіть паддинги, задайте розміри і позиціонуйте іконку флексами */
    &__icons {
      margin-bottom: 30px;
      /* padding: 25px 100px;   */
      width: 270px;
      height: 120px;
      align-items: center;
      display: flex;
      justify-content: center;
      background-color: var(--light-gray);
      border-radius: 4px;
    }
    
    &__title {
      /* заголовок в особенностях */
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--text-main-color);
      margin-bottom: 10px;
    }
  
    
    &__text {
      /* оформление списка Особенности  */
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: var(--description-color);
    }

  }
  
  